name: statera
description: A new Flutter project.

publish_to: "none"

version: 1.11.3+33

environment:
  sdk: "^3.8.0"
  flutter: "3.32.8"

scripts:
  run-web-emulate: flutter run -d chrome --dart-define="MODE=debug"
  run-emulate: flutter run --dart-define="MODE=debug"
  test: flutter test
  test-coverage: flutter test --coverage && genhtml ./coverage/lcov.info -o ./coverage/html
  create-mocks: dart run build_runner build
  deploy-web: flutter build web && firebase deploy --only hosting
  deploy-functions: firebase deploy --only functions
  emulate: export GOOGLE_APPLICATION_CREDENTIALS="./serviceAccount.json" && firebase emulators:start --import ./emulator_data
  emulate-mac: export GOOGLE_APPLICATION_CREDENTIALS="./serviceAccount.json" && firebase emulators:start --import ./emulator_data_mac
  export-emulators: firebase emulators:export ./emulator_data

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.0.0
  firebase_core: ^4.0.0
  firebase_auth: ^6.0.0
  firebase_storage: ^13.0.0
  firebase_crashlytics: ^5.0.0
  firebase_messaging: ^16.0.0
  firebase_analytics: ^12.0.0
  firebase_remote_config: ^6.0.0
  cloud_firestore: ^6.0.0
  cloud_functions: ^6.0.0
  fake_cloud_firestore: ^4.0.0
  google_sign_in: ^6.0.2
  sign_in_with_apple: ^7.0.1
  build_runner: ^2.0.6
  uuid: ^4.5.1
  image_picker: ^1.1.2
  flutter_bloc: ^9.1.1
  bloc_event_transformers: ^2.0.0
  bloc_test: ^10.0.0
  equatable: ^2.0.3
  mockito: ^5.2.0
  qr_flutter: ^4.0.0
  url_strategy: ^0.3.0
  url_launcher: ^6.1.2
  crypto: ^3.0.1
  package_info_plus: ^8.1.1
  flutter_dotenv: ^5.0.2
  app_settings: ^6.1.1
  dynamic_color: ^1.6.2
  shared_preferences: ^2.0.18
  flutter_animate: ^4.1.1+1
  flutter_colorpicker: ^1.1.0
  intl: ^0.20.2
  web: ^1.0.0
  go_router: ^16.1.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  msix: ^3.6.2
  lints: ^6.0.0
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - images/
    - .env

  fonts:
    - family: Nunito
      fonts:
        - asset: fonts/Nunito/Nunito-Light.ttf
          weight: 300
        - asset: fonts/Nunito/Nunito-Regular.ttf
        - asset: fonts/Nunito/Nunito-SemiBold.ttf
          weight: 600
        - asset: fonts/Nunito/Nunito-Bold.ttf
          weight: 700

msix_config:
  display_name: Statera
  publisher_display_name: Andrii Denysenko
  identity_name: com.statera.statera
  msix_version: 1.0.0.0
  logo_path: .\images\logo.png
  capabilities: internetClient
