<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630064020417-kp591unonuf8jvctsjngk2r1d70p4b1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630064020417-kp591unonuf8jvctsjngk2r1d70p4b1p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630064020417-o1ro3p5cgc4ukj7134r1qa7ahu6lmgoc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9aCDTXfF-LiSwaRS8OryLJMM9scjGirY</string>
	<key>GCM_SENDER_ID</key>
	<string>630064020417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.statera.statera</string>
	<key>PROJECT_ID</key>
	<string>statera-0</string>
	<key>STORAGE_BUCKET</key>
	<string>statera-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630064020417:ios:1aea53600307ad40c3cd40</string>
</dict>
</plist>